@tailwind base;
@tailwind components;


@layer components {

  /* ! Nav Bar */

  .nav-container {
    @apply fixed top-0 left-0 h-screen w-16 m-0 p-0 flex flex-col z-20 shadow-lg bg-gray-900 text-gray-300;
  }

  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 text-xl mx-auto shadow-lg bg-gray-800 text-green-500
        hover:bg-green-600 hover:text-white rounded-3xl hover:rounded-xl
        transition-all duration-300 ease-linear;
  }

  .rotate-arrow {
    @apply rotate-180
    bg-green-600 text-white;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-white bg-gray-900 text-xs font-bold transition-all duration-100 scale-0 origin-left;
  }

  /* ! Channesl section */

  .channel-bar {
    @apply w-60 h-screen m-0 ml-16 bg-gray-200 dark:bg-gray-800 fixed transition-all -translate-x-full origin-left duration-300
    z-10 overflow-hidden;
  }

  .channel-bar-show {
    @apply translate-x-0;
  }

  .channel-container {
    @apply flex flex-col items-center justify-start p-1 m-0;
  }

  .channel-block {
    @apply flex items-center justify-center h-16 m-0 p-0;
  }

  .channel-block-text {
    @apply text-lg tracking-wider font-bold text-gray-600 dark:text-gray-400 mr-auto ml-4 my-auto align-middle;
  }

  .dropdown {
    @apply m-0 w-full px-2 pb-2 transition duration-300 ease-in-out;
  }

  .dropdown-header {
    @apply flex flex-row items-center mx-0 text-gray-500;
  }

  .dropdown-header-text {
    @apply text-gray-500 font-semibold cursor-default text-lg;
  }

  .dropdown-header-text-selected {
    @apply text-blue-500 font-bold;
  }

  .dropdown-selection {
    @apply flex flex-row items-center justify-evenly
        mt-1 mr-auto ml-2
        transition duration-300 ease-in-out
        cursor-pointer;
  }

  .dropdown-selection-text {
    @apply text-gray-500 font-semibold tracking-wide
        mr-auto 
        transition duration-300 ease-in-out 
        hover:text-green-600 cursor-pointer;
  }

  .plus-sign {
    @apply ml-auto cursor-pointer 
    transition duration-300 ease-in-out text-lg
    hover:text-green-600;
  }

  .arrow-sign {
    @apply text-opacity-80 my-auto mr-1 cursor-pointer text-lg
    transition duration-300 ease-in-out -rotate-90 hover:text-green-600;
  }

  .arrow-sign-click {
    @apply rotate-0;
  }

  .plus-sign-click {
    @apply rotate-90;
  }

  .add-hashtag {
    @apply flex flex-row items-center justify-evenly
    mt-1 mr-auto ml-2;
  }

  .input-hashtag {
    @apply cursor-text appearance-none bg-gray-500 rounded-md w-3/4 px-2 py-0.5 outline-none text-white flex flex-row items-center justify-evenly mr-auto;
  }

  .hide {
    @apply hidden;
  }

  .cancel-hover {
    @apply pointer-events-none;
  }

  /* MAIN CONTENT */

  .content-container {
    @apply ml-16 md:ml-[19rem]
    relative bg-gray-700;
  }


  /* Top Navigation */

  .top-navigation {
    @apply flex flex-row items-center justify-evenly 
    sticky w-full left-0 top-0
    transition-all duration-300 
    bg-gray-700
    h-14
    shadow-lg;
  }

  .nav-icon {
    @apply text-gray-500
    m-2 sm:m-3 text-lg sm:text-xl
    transition duration-300 ease-in-out 
    hover:text-green-600
    cursor-pointer;
  }

  .title-text {
    @apply text-lg sm:text-xl text-gray-500 tracking-wider font-semibold
    mr-auto my-auto 
    transition duration-300 ease-in-out;
  }

  .search {
    @apply max-w-[10rem] flex items-center justify-center 
    bg-gray-600
    text-gray-500
    pl-2 sm:h-9 h-7 mx-2 
    rounded-md shadow-md
    transition duration-300 ease-in-out;
  }

  .search-input {
    @apply w-full font-sans font-semibold
    bg-transparent outline-none
    text-gray-200  placeholder-gray-500
    pl-1 rounded
    placeholder:text-base;
  }

  /* Content List */

  .content-list {
    @apply flex flex-col
    h-full w-full m-0 p-0
    transition-all duration-300 ease-in;
  }

  .post {
    @apply w-full
    flex flex-row items-center justify-evenly py-4
  }

  .post-content {
    @apply w-11/12
    flex flex-col justify-start 
  }

  .post-text {
    @apply text-base text-left text-white font-thin max-w-4xl
    mr-auto whitespace-normal;
  }

  .post-owner {
    @apply text-left font-semibold text-white mr-2 cursor-pointer;
  }

  .avatar-wrapper {
    @apply
    max-w-xs mx-4 sm:mx-7
    text-center mb-auto;
  }

  .avatar-container {
    @apply w-10 h-10 sm:w-12 sm:h-12 
    rounded-full
    bg-blue-500 flex items-center justify-center
    text-xl text-white
  }

  .timestamp {
    @apply text-xs text-left font-semibold text-gray-600 ml-2;
  }

  .bottom-bar {
    @apply flex flex-row items-center justify-between 
    mx-auto mb-4
    rounded-lg shadow-lg 
    bg-gray-600 p-2
    h-12 w-11/12;
  }

  .bottom-bar-input {
    @apply font-semibold w-full
    bg-transparent outline-none 
    ml-0 mr-auto
    text-gray-400 placeholder-gray-500
    cursor-text;
  }

}

@tailwind utilities;

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-gray-500 dark:bg-green-400;
}
