@tailwind base;
@tailwind components;

@layer base {
  :root {
    --color-text-base: #ffffff;
    --color-text-muted: #6B7280;
    --color-textarea-bg: #4f545c;
    --color-primary-bg: #202225;
    --color-secondary-bg: #2f3136;
    --color-tertiary-bg: #36393F;
    --color-main-theme: #22C55E;
  }

  .theme-summer {
    --color-text-base: #4f545c;
    --color-text-muted: #4f545c;
    --color-textarea-bg: #d4d7dc;
    --color-primary-bg: #ffffff;
    --color-secondary-bg: #ebedef;
    --color-tertiary-bg: #e3e5e8;
    --color-main-theme: #eb3862;
  }

  .theme-winter {
    --color-text-base: #0043a1;
    --color-text-muted: #0647a1;
    --color-textarea-bg: #d2fcf9;
    --color-primary-bg: #42C2FF;
    --color-secondary-bg: #85F4FF;
    --color-tertiary-bg: #B8FFF9;
    --color-main-theme: #ffffff;
  }

  /* .theme-hallowin {
    --color-text-base: #ffffff;
    --color-text-muted: #6B7280;
    --color-textarea-bg: #991700;
    --color-primary-bg: #330800;
    --color-secondary-bg: #4d0c00;
    --color-tertiary-bg: #660f00;
    --color-main-theme: #22C55E;
  } */
}

@layer components {

  /* ! Nav Bar */

  .nav-container {
    @apply fixed top-0 left-0 h-screen w-16 m-0 p-0 flex flex-col z-20 shadow-lg bg-skin-primary;
  }

  .sidebar-icon {
    @apply relative flex items-center justify-center h-12 w-12 mt-2 mb-2 text-xl mx-auto shadow-lg bg-skin-secondary text-skin-main-theme
    hover:bg-skin-main-theme hover:text-skin-primary rounded-3xl hover:rounded-xl
    transition-all duration-300 ease-linear;
  }

  .rotate-arrow {
    @apply rotate-180
    bg-skin-main-theme text-skin-primary;
  }

  .sidebar-tooltip {
    @apply absolute w-auto p-2 m-2 min-w-max left-14 rounded-md shadow-md text-skin-base bg-skin-primary text-xs font-bold transition-all duration-100 scale-0 origin-left;
  }

  /* ! Channesl section */

  .channel-bar {
    @apply w-60 h-screen m-0 ml-16 bg-skin-tertiary dark:bg-skin-secondary fixed transition-all -translate-x-full origin-left duration-300
    z-10 overflow-hidden;
  }

  .channel-bar-show {
    @apply translate-x-0;
  }

  .channel-container {
    @apply flex flex-col items-center justify-start p-1 m-0;
  }

  .channel-block {
    @apply flex items-center justify-center h-16 m-0 p-0;
  }

  .channel-block-text {
    @apply text-lg tracking-wider font-bold text-skin-muted mr-auto ml-4 my-auto align-middle;
  }

  .dropdown {
    @apply m-0 w-full px-2 pb-2 transition duration-300 ease-in-out;
  }

  .dropdown-header {
    @apply flex flex-row items-center mx-0 text-skin-muted;
  }

  .dropdown-header-text {
    @apply text-skin-muted font-semibold cursor-default text-base;
  }

  .dropdown-header-text-selected {
    @apply text-blue-500 font-bold;
  }

  .dropdown-selection {
    @apply flex flex-row items-center justify-evenly
        mt-1 mr-auto ml-2
        transition duration-300 ease-in-out
        cursor-pointer;
  }

  .dropdown-selection-text {
    @apply text-skin-muted font-semibold tracking-wide
        mr-auto 
        transition duration-300 ease-in-out 
        hover:text-skin-main-theme cursor-pointer;
  }

  .plus-sign {
    @apply ml-auto cursor-pointer 
    transition duration-300 ease-in-out text-lg
    hover:text-skin-main-theme;
  }

  .arrow-sign {
    @apply text-opacity-80 my-auto mr-1 cursor-pointer text-lg
    transition duration-300 ease-in-out -rotate-90 hover:text-skin-main-theme;
  }

  .arrow-sign-click {
    @apply rotate-0;
  }

  .plus-sign-click {
    @apply rotate-90;
  }

  .add-hashtag {
    @apply flex flex-row items-center justify-evenly
    mt-1 mr-auto ml-2;
  }

  .input-hashtag {
    @apply cursor-text appearance-none bg-skin-text-area rounded-md w-3/4 px-2 py-0.5 outline-none text-skin-base flex flex-row items-center justify-evenly mr-auto;
  }
  
  .cancel-hover {
    @apply pointer-events-none;
  }

  /* MAIN CONTENT */
  
  .content-container {
    @apply ml-16 md:ml-[19rem]
    relative bg-skin-tertiary;
  }
  
  /* Top Navigation */
  
  .top-navigation {
    @apply flex flex-row items-center justify-evenly 
    sticky w-full left-0 top-0
    transition-all duration-300 
    bg-skin-tertiary
    h-14
    shadow-lg;
  }
  
  .nav-icon {
    @apply text-skin-muted
    m-2 sm:m-3 text-lg sm:text-xl
    transition duration-300 ease-in-out 
    hover:text-skin-main-theme
    cursor-pointer;
  }

  .title-text {
    @apply text-lg sm:text-xl text-skin-muted tracking-wider font-semibold
    mr-auto my-auto 
    transition duration-300 ease-in-out;
  }
  
  .search {
    @apply max-w-[10rem] flex items-center justify-center 
    bg-skin-text-area
    text-skin-muted
    pl-2 sm:h-9 h-7 mx-2 
    rounded-md shadow-md
    transition duration-300 ease-in-out;
  }
  
  .search-input {
    @apply w-full font-sans font-semibold
    bg-transparent outline-none
    text-skin-base  placeholder:text-skin-muted
    pl-1 rounded
    placeholder:text-base;
  }
  
  /* Content List */
  
  .content-list {
    @apply flex flex-col
    h-full w-full m-0 p-0
    transition-all duration-300 ease-in;
  }
  
  .post {
    @apply w-full
    flex flex-row items-center justify-evenly py-4
  }
  
  .post-content {
    @apply w-11/12 pr-6
    flex flex-col justify-start 
  }
  
  .post-text {
    @apply text-base text-left text-skin-base max-w-4xl
    mr-auto whitespace-normal;
  }
  
  .post-owner {
    @apply text-left font-bold text-skin-base mr-2 cursor-pointer;
  }
  
  .avatar-wrapper {
    @apply
    max-w-xs mx-4 sm:mx-7
    text-center mb-auto;
  }
  
  .avatar-container {
    @apply w-10 h-10 sm:w-12 sm:h-12 
    rounded-full
    bg-blue-500 flex items-center justify-center
    text-xl text-white
  }

  .avatar {
    @apply flex-none
    w-12 h-full 
    rounded-full shadow-md
    object-cover bg-gray-100 
    mb-auto mt-0 mx-0 
    cursor-pointer;
  }
  
  .timestamp {
    @apply text-xs text-left font-semibold text-skin-muted ml-2;
  }
  
  .bottom-bar {
    @apply flex flex-row items-center justify-between 
    mx-auto mb-4
    rounded-lg shadow-lg 
    bg-skin-text-area p-2
    h-12 w-11/12;
  }
  
  .bottom-bar-input {
    @apply font-semibold w-full
    bg-transparent outline-none
    pl-2
    text-skin-base placeholder:text-skin-muted placeholder:text-base
    cursor-text;
  }

  .hide {
    @apply hidden invisible before:hidden;
  }

}

@tailwind utilities;

::-webkit-scrollbar {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-skin-main-theme;
}
